:root {
    /* CSS HEX */
    --flame: #E4572E;
    --space_cadet: #29335C;
    --marigold: #F3A712;
    --olivine: #A8C686;
    --air_superiority_blue: #669BBC;
}
body {
    font-family: 'Anton', sans-serif;
}
footer {
    font-family: 'Anton', sans-serif;
    background-color: var(--marigold);
    text-align: center;
}
#splash img{
    margin-top: 1%;
    width: 50px;
}
#cardByYear img {
    max-width: 100%;
}
#cardByYear .btn{
    width: 100%;
}
#yearSelect{
    background-color: var(--air_superiority_blue);
    color: white;
}
#yearSelect .btn{
    width: 250px;
}
#yearSelect .row{
    text-align: center;
}
#yearSelect .col-s-12{
    margin-bottom: 3%;
}
#yearlyCards{
    margin-top: 10%;
    margin-bottom: auto;
    text-align: center;
}
.card {
    width: 100%;
}
.carousel-item img{
    height: 25rem;
    max-width: 100%;
    margin: auto;
}
#cards{
    font-family: 'Stick', sans-serif;
}

.CardTitle{
    background-color: var(--space_cadet)!important;
    color: var(--flame)!important;
}

.list-group-item{
    text-align: center;
}
